{
  // https://github.com/babel/babel-loader#options
  // cacheDirectory: true,
  "presets": ['es2015-loose', 'stage-0', 'react'],

  "env": {
    // only enable when process.env.NODE_ENV is 'development' or undefined
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },

    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "./runtime.webpack.config.js",
            "verbose": false
          }
        ]
      ]
    }
  }
}
