@import 'styles/_variables';

$button-padding-v: 0.5em;
$button-padding-h: 0.75em;
$button-padding: $button-padding-v $button-padding-h;

$button-default-background-color: color($color-black alpha(0.1));
$button-default-hover-background-color: color($button-default-background-color alpha(0.2));

$button-inverse-background-color: color($color-white alpha(0.1));
$button-inverse-hover-background-color: color($button-inverse-background-color alpha(0.2));
$button-inverse-color: $color-light-on-dark;

$button-disabled-background-color: color($color-disabled-background alpha(0.2));
$button-disabled-hover-background-color: color($button-disabled-background-color);

$button-negative-background-color: color($color-negative);
$button-negative-hover-background-color: color($button-negative-background-color lightness(-10%));

$button-positive-background-color: color($color-positive);
$button-positive-hover-background-color: color($button-positive-background-color lightness(+10%));

$button-background-transition: 0.12s ease-in-out background;
$button-shadow-transition: 0.12s ease-in-out box-shadow;

$button-border-radius: 2px;

.button-base {
  display: inline-block;

  padding: $button-padding;

  font-family: $site-font-family;

  /* should buttons never be pointers? https://medium.com/simple-human/buttons-shouldnt-have-a-hand-cursor-b11e99ca374b#.mxi539ydo */
  cursor: default; 

  border-radius: $button-border-radius;

  box-shadow: $shadow-0;
  transition: $button-background-transition,
              $button-shadow-transition;

  &:hover {
    box-shadow: $shadow-1;
  }

  &:active {
    box-shadow: $shadow-0;
  }

  &[disabled] {
    background: $button-disabled-background-color;
    color: $color-disabled-text;
    border: 1px dashed;
    cursor: not-allowed;

    &:hover {
      background: $button-disabled-hover-background-color;
      box-shadow: $shadow-0;
    }
  }

  /* TODO not sure i love putting icon styling here.. maybe icons should just be bigger? */
  :global .icon {
    transform: scale(1.2);
  }
}

.button-default {
  composes: button-base;
  background: $button-default-background-color;
  color: inherit;

  &:hover {
    background: $button-default-hover-background-color;
  }
}

.button-inverse {
  composes: button-base;
  background: $button-inverse-background-color;
  color: $button-inverse-color;

  &:hover {
    background: $button-inverse-hover-background-color;
  }
}

.button-negative {
  composes: button-base;

  background: $button-negative-background-color;
  color: $color-light-on-dark;
  font-weight: 700;

  &:hover {
    background: $button-negative-hover-background-color;
  }
}

.button-positive {
  composes: button-base;

  background: $button-positive-background-color;
  color: $color-light-on-dark;

  &:hover {
    background: $button-positive-hover-background-color;
  }
}

/* TODO even bother? */
a.button-base {
  cursor: pointer;
}
