@import 'styles/_variables';

$button-padding-v: 0.5em;
$button-padding-h: 0.75em;
$button-padding: $button-padding-v $button-padding-h;

$button-default-background-color: color($color-gray-20 alpha(0.25));
$button-default-hover-background-color: color($button-default-background-color alpha(0.35));

$button-background-transition: 0.15s ease-in-out background;

$button-border-radius: 2px;

.wrapper {
  display: inline-block;

  padding: $button-padding;

  font-family: $site-font-family;

  /* should buttons never be pointers? https://medium.com/simple-human/buttons-shouldnt-have-a-hand-cursor-b11e99ca374b#.mxi539ydo */
  cursor: default; 

  color: inherit;
  background: $button-default-background-color;
  border-radius: $button-border-radius;

  transition: $button-background-transition;

  &:hover {
    background: $button-default-hover-background-color;
  }
}

/* TODO even bother? */
a.wrapper {
  cursor: pointer;
}
