@import 'styles/_variables';

.button {
  border: 0;
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em 1em;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border-radius: $button-border-radius;
  box-shadow: 0;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
}

.small {
  font-size: 0.8em;
}

.basic {
  background-color: $site-link-color;
  color: #fff;

  &:hover {
    background-color: color($site-link-color blackness(10%));
    box-shadow: $box-shadow-1;
  }

  &:active {
    background-color: color($site-link-color blackness(20%));
  }
}

.flat {
  &:hover {
    background-color: rgba(#000, 0.05);
    box-shadow: $box-shadow-1;
  }

  &:active {
    background-color: rgba(#000, 0.1);
  }
}

.positive {
  background-color: $positive-color;
  color: #fff;
}

.negative {
  background-color: $negative-color;
  color: #fff;
}
