@import 'styles/_variables';

html, body, input {
  color: $site-text-color;
  font-size: $body-font-size;
}

table {
  th {
    text-align: left; /* Chrome centers <th>s */
  }
}

a {
 color: $site-link-color;
}

dl {
  margin: 0; /* Chrome adds -webkit-margin-before|after */
}

dd {
  margin: 0; /* Chrome adds -webkit-margin-start */
}

/* TODO explanation of why font-family isn't set at body (i.e. faster rendering) */
.body-text {
  font-family: $site-font-family;

  h1 {
    font-size: $h1-size;
    font-weight: 700;
  }

  h2 {
    font-size: $h2-size;
    font-weight: 700;
  }

  h3 {
    font-size: $h3-size;
    font-weight: 700;
  }

  :--text-blocks {
    + :--text-blocks {
      margin-top: 1em;
    }
  }
}
