@import 'styles/_variables';

.page {
  width: 40rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.header {
 composes: body-text from 'styles/_typography.css';
 margin-bottom: 1rem;

  h1 {
    text-align: center;
  }
}

.card {
  /*
   *composes: shadow-1 from 'styles/_shadows.css';
   */

  transition: 0.15s box-shadow ease-in-out;

  &:hover {
    box-shadow: $shadow-focus;
  }

  + .card {
    margin-top: 1rem;
  }
}

.main-card {
  composes: card;
  background: #9ac5a7;
}
