@import 'styles/_variables';

.page {
  /* little breathing room so Messages don't cover the message buttons
   * ... though I guess that's kind of a TODO of its own? :P */
  padding-bottom: 10rem;
}

.title {
  composes: body-text from 'styles/_typography.css';
  text-align: center;
}

.card {
  transition: 0.15s box-shadow ease-in-out;
  background: $color-white;

  &:hover {
    box-shadow: $shadow-focus;
  }

  + .card {
    margin-top: 1rem;
  }
}

.main-card {
  composes: card;
  background: $tyre;
  color: $color-light-on-dark;
}

.right-button {
  float: right;
}

.create-message-example {
  + .create-message-example {
    margin-left: 1rem;
  }
}
