@import 'styles/_variables';

.page {
}

.header {
 composes: body-text from 'styles/_typography.css';
 margin-bottom: 1rem;

  h1 {
    text-align: center;
  }
}

.card {
  transition: 0.15s box-shadow ease-in-out;
  background: $color-white;

  &:hover {
    box-shadow: $shadow-focus;
  }

  + .card {
    margin-top: 1rem;
  }
}

.main-card {
  composes: card;
  background: $tyre;
  color: $color-light-on-dark;
}

.right-button {
  float: right;
}
