@import 'styles/_variables';

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrapper {
}

.message {
  animation: fade-in 0.15s;
  animation-iteration-count: 1;
  background: $color-white;

  + .message {
    margin-top: 1rem;
  }
}
