@import 'styles/_variables';

@keyframes fade-in {
  0% {
    opacity: 0.5;
  }

  20% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
  }
}

.button {
  &[data-starred="true"] {
    /* don't just do `:global .icon` or else the
     * @keyframe name will be mismatched w/ the
     * `animation: keyframeName` because it will
     * be in in :global (block) scope */
    :global(.icon) {
      animation: scale 0.25s;
      animation-iteration-count: 1;
    }
  }
}

.wrapper {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;

  &[data-checked="true"] :global(.icon) {
    animation: fade-in 0.15s;
    animation-iteration-count: 1;
  }
}
