@import 'styles/_variables';

@keyframes fade-in {
  0% {
    opacity: 0.5;
  }

  20% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
  }
}

.wrapper {
  /* Icons are a bit small by default
   * to be */
  :global(.icon) {
    font-size: 2.5em;

    /* TODO ugh, what an ugly hack to align
     * Icon with text...  :/ ... */
    display: inline-block;
    vertical-align: middle;
    + :global(.label) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &[data-checked="true"] :global(.icon) {
    animation: fade-in 0.15s;
    animation-iteration-count: 1;
  }
}
