@import 'styles/_variables';

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.page {
  width: 40rem;
  margin: 0 auto;
  padding: 1rem 0;

  animation: fade-in 0.25s;
  animation-iteration-count: 1;
}
