@import 'styles/_variables';

/* TODO DRY-er vars with Card.css and Button.css */
$border-color: color($color-black alpha(15%));
$content-padding: 1em;
$border-radius: 2px;

$message-default-background-color: color($color-gray-70 alpha(0.1));
$message-info-background-color: color(#55a1be lightness(+30%)); /* TODO variable color */
$message-positive-background-color: color($color-positive lightness(+30%));
$message-negative-background-color: color($color-negative lightness(+30%));
$message-inverse-background-color: color($color-white alpha(0.1));
